In [4]:
import pandas as pd
import yfinance as yf

In [17]:
START = "2018-01-01"
END = "2023-01-01"
SYMBOL = ["TSLA", "KRW=X", "AAPL", "META", "GOOG", "^GSPC", "GLD"]

df = yf.download(SYMBOL, start=START, end=END, period='1d', interval='1d', ignore_tz=True)

[*********************100%***********************]  7 of 7 completed

In [18]:
df.head()

            Adj Close                                                  \
                 AAPL         GLD       GOOG        KRW=X        META
Date
2018-01-01        NaN         NaN        NaN  1066.069946         NaN
2018-01-02  40.950493  125.150002  53.250000  1065.219971  181.419998
2018-01-03  40.943359  124.820000  54.124001  1062.540039  184.669998
2018-01-04  41.133541  125.459999  54.320000  1063.939941  184.330002
2018-01-05  41.601868  125.330002  55.111500  1061.079956  186.850006

                                        Close                         ...  \
                 TSLA        ^GSPC       AAPL         GLD       GOOG  ...
Date                                                                  ...
2018-01-01        NaN          NaN        NaN         NaN        NaN  ...
2018-01-02  21.368668  2695.810059  43.064999  125.150002  53.250000  ...
2018-01-03  21.150000  2713.060059  43.057499  124.820000  54.124001  ...
2018-01-04  20.974667  2723.989990  43.257500  125.459999  54.320000  ...
2018-01-05  21.105333  2743.149902  43.750000  125.330002  55.111500  ...

                  Open                               Volume              \
                  META       TSLA        ^GSPC         AAPL         GLD
Date
2018-01-01         NaN        NaN          NaN          NaN         NaN
2018-01-02  177.679993  20.799999  2683.729980  102223600.0  11762500.0
2018-01-03  181.880005  21.400000  2697.850098  118071600.0   7904300.0
2018-01-04  184.899994  20.858000  2719.310059   89738400.0   7329700.0
2018-01-05  185.589996  21.108000  2731.330078   94640000.0   5739900.0


                  GOOG KRW=X        META         TSLA         ^GSPC
Date
2018-01-01         NaN   0.0         NaN          NaN           NaN
2018-01-02  24752000.0   0.0  18151900.0   65283000.0  3.397430e+09
2018-01-03  28604000.0   0.0  16886600.0   67822500.0  3.544030e+09
2018-01-04  20092000.0   0.0  13880900.0  149194500.0  3.697340e+09
2018-01-05  25582000.0   0.0  13574500.0   68868000.0  3.239280e+09

[5 rows x 42 columns]